.container{
	display: flex;
	flex-flow: row wrap;
}
.c1{
	background-color: #ff0080;
	min-height: 80px;
}
.c2{
	background-color: #ff00ff;
	min-height: 80px;
}
.c3{
	background-color: #bf00ff;
	min-height: 80px;
}
.c1, .c2, .c3, .c4{
  	width: 100%;
}
@media (min-width: 600px){
  	.c1{
    	width: 25%;
  	}
  	.c4{
    	width: 75%;
  	}
}
@media (min-width: 800px){
	.container {
    	width: 800px;
    	margin-left: auto;
    	margin-right: auto;
  	}
}